{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Result</h1>
    <hr>
    <ul>
        {% for result in search_result %}
            <li>
                <div class="alert alert-success" role="alert">
                    <a href="{{ result }}">{{ result }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>
        <h3>
            <div class="alert alert-danger" role="alert">
                {{ no_result }}
            </div>
        </h3>
{% endblock %}
